<p style="color: green"><%= notice %></p>

<%= render @client %>

<div >
  <%= link_to "Edit this client", edit_client_path(@client) ,class: "btn btn-primary mt-1 p-2 text-warning"%> |
  <%= link_to "Back to clients", clients_path ,class: "btn btn-primary mt-1 p-2 text-warning" %>

  <%= button_to "Destroy this client", @client, method: :delete  ,class: "btn btn-primary mt-1 p-2 text-warning"%>
</div>
